.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.signs button{
  cursor: pointer;
}
.signs button:nth-of-type(1){
  margin-left: 0;
}
.you{
  min-width:240px;
  min-height: 240px;
  background-color:tomato;
  border: 1px solid black;
}
.computer{
  min-width:240px;
  min-height: 240px;
  background-color:teal;
  border: 1px solid black;
}
.you svg, .computer svg{
  margin-top: 33%;
}
.score{
  font-size: 27px;
  text-align: center;
}
.signs{
  margin-top: 5%;
}
.btn{
  margin-top: 5%;
  margin-right: 7%;
  float: right;
}
@media (max-width: 1000px){
  .you{
    min-width:150px;
    min-height: 150px;
  }
  .computer{
    min-width:150px;
    min-height: 150px;
  }
}